<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/9/plot" value="false" />
    <add key="/amdcpu/0/load/10/plot" value="false" />
    <add key="/amdcpu/0/load/11/plot" value="false" />
    <add key="/amdcpu/0/load/12/plot" value="false" />
    <add key="/amdcpu/0/load/13/plot" value="false" />
    <add key="/amdcpu/0/load/14/plot" value="false" />
    <add key="/amdcpu/0/load/15/plot" value="false" />
    <add key="/amdcpu/0/load/16/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/amdcpu/0/power/10/plot" value="false" />
    <add key="/amdcpu/0/power/11/plot" value="false" />
    <add key="/amdcpu/0/power/12/plot" value="false" />
    <add key="/amdcpu/0/power/13/plot" value="false" />
    <add key="/amdcpu/0/power/14/plot" value="false" />
    <add key="/amdcpu/0/power/15/plot" value="false" />
    <add key="/amdcpu/0/power/16/plot" value="false" />
    <add key="/amdcpu/0/power/17/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/5/temperature/0/plot" value="false" />
    <add key="/atigpu/5/temperature/1/plot" value="false" />
    <add key="/atigpu/5/temperature/9/plot" value="false" />
    <add key="/atigpu/5/fan/0/plot" value="false" />
    <add key="/atigpu/5/clock/0/plot" value="false" />
    <add key="/atigpu/5/clock/1/plot" value="false" />
    <add key="/atigpu/5/voltage/0/plot" value="false" />
    <add key="/atigpu/5/load/0/plot" value="false" />
    <add key="/atigpu/5/load/1/plot" value="false" />
    <add key="/atigpu/5/control/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-516" />
    <add key="mainForm.Location.Y" value="440" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/clock/9/plot" value="false" />
    <add key="/amdcpu/0/clock/10/plot" value="false" />
    <add key="/amdcpu/0/clock/11/plot" value="false" />
    <add key="/amdcpu/0/clock/12/plot" value="false" />
    <add key="/amdcpu/0/clock/13/plot" value="false" />
    <add key="/amdcpu/0/clock/14/plot" value="false" />
    <add key="/amdcpu/0/clock/15/plot" value="false" />
    <add key="/amdcpu/0/clock/16/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/5/temperature/0/values" value="H4sIAAAAAAAEAIvdln9+Z8ddDwYGGaew20lMDGAg7fRJv54ZwpZxkj6wiA3G3h+SDFUj5aQqlwxX/+hYIlzcz1idHcYGAJ1M+RlgAAAA" />
    <add key="/atigpu/5/temperature/1/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwMGU7iW5KYGMAg0+mTfj0zhJ3hJH1gERuMvT8kGa5GVQ7GznAKenaYBcZWf5kIV7NdC6EGADscERBsAAAA" />
    <add key="/atigpu/5/temperature/2/values" value="" />
    <add key="/atigpu/5/temperature/3/values" value="" />
    <add key="/atigpu/5/temperature/4/values" value="" />
    <add key="/atigpu/5/temperature/5/values" value="" />
    <add key="/atigpu/5/temperature/6/values" value="" />
    <add key="/atigpu/5/temperature/7/values" value="" />
    <add key="/atigpu/5/temperature/8/values" value="" />
    <add key="/atigpu/5/temperature/9/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwMLk4qS1p4GMDAxWl/SDIThO3spCoHYzs6PTqWCBcvkE+Cs9VfwsRdnLZrwdQ7OQEA+MlGymAAAAA=" />
    <add key="/atigpu/5/power/0/values" value="" />
    <add key="/atigpu/5/power/1/values" value="" />
    <add key="/atigpu/5/power/2/values" value="" />
    <add key="/atigpu/5/power/3/values" value="" />
    <add key="/atigpu/5/power/4/values" value="" />
    <add key="/atigpu/5/fan/0/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwCbS7iW5KYGEBAoc3lk349M4wtt+I+I5jN0ObS0ZEIUQNUX9oPZXO0uewPSWaCqVGVg7JvtLo8OgZVI9HmUiAPNT+gzUX9JVQ8os1luxZUvUObCwAchaZckAAAAA==" />
    <add key="/atigpu/5/clock/0/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwT1ruIb0liYgCBHZ0un/TrmcFsi/UucivuM4LZG9a7dHQkQtQEdLmU9kPZEza47A9JhrAdmF1U5aBshiTnR8egahqKnQvkoeY3FDqrv4SKb2B02a4FU8/qAgB1ynK9kAAAAA==" />
    <add key="/atigpu/5/clock/1/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwP1F0tBK9IMYAAkA0AhyO7QRgAAAA=" />
    <add key="/atigpu/5/clock/2/values" value="" />
    <add key="/atigpu/5/voltage/0/values" value="H4sIAAAAAAAEAJtzN//8zo67HmpshvbiW5KYGIDAaouB/Sf9emYQO/Gpgb3civuMIPa1CkP7jo5EsJrSyQb2pf0Q9jp3Q/v9Iclgdqejgb2qHITNwGBg/+gYRM0RBQP7AvkkuBr1lxDxDUUG9tu1IOrfBBrYAwDQ6x7fkAAAAA==" />
    <add key="/atigpu/5/voltage/1/values" value="" />
    <add key="/atigpu/5/voltage/2/values" value="" />
    <add key="/atigpu/5/load/0/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwMqxzFtyQxMYDBNMdP+vXMEPYKR7kV9xkh7AOOHR2JUDV9jqX9MPYux/0hyVB2haOqHIwd4vjoGExNgmOBPMz8GEf1lzDxFsftWjD1JY4AiFrzwpAAAAA=" />
    <add key="/atigpu/5/load/1/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwMDfacTx6yMoBBg73civuMEPYC+46ORCaYeOefDQIwNgDjJAwmPAAAAA==" />
    <add key="/atigpu/5/control/0/values" value="H4sIAAAAAAAEAJtzN//8zo67HgwMJxwtBK9IMYDBCUcA7tPooxgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddD62cBKfrxolMDEBw+WySU6PACzD7zJIMp2yLMjB7nmO205yoJDB76/s8J4f5ELaHY6GT6UmI3uWOxU6T3kPEIxRLnJK4Iex9b4ud2MQg7LY3xU6ntSDqD1wocQIAzE897IQAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddjynLux2vGycyMQDBN6Vex0aBF2C209EJjtkWZWB2SeokxzlRSWD25vVTHB3mQ9hCitMcTU9C9L6Kn+446T1EXOb1dMckbgib4fR0RzYxCNvu1HTH01oQ9S4RMxwBJPZ/aoQAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj5UtUY7XjROZGIDgSW+4Y6PACzDb1zPAMduiDMx+yeHrOCcqCczOKvFwdJgPYa+e6OpoehKi94+ws+Ok9xDx6X8dHZO4IewLtk6ObGIQdoi9k+NpLYh6T2VHRwBN3mAehAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjxM1YY56RolMDECwbY2+Y4LQCzB70RoHx4r4MjA78Luo4wTXJDB7X1+Ro88WCFvbvcbR9CRE72xtIcdJ7yHiF/j6HKZ9g4g7uEU5XNKCiP+JemJ/Wgsinm95xAEAOrjJOoQAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD8tlvE56RolMDCDg8NwxQegFmL3kxyPHivgyMJsrabnjBNckiJob3E4+WyDsjcV8TqYnIXoFSu46TnoPFTcuc5z2DSL+yabK8ZIWVK+CkeNpLahdF+Y6AgAqFNiWhAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjyIePic9o0QmBjB46Jgg9ALMzlp52bEivgzM9nwxx3GCaxJEzQIeJ58tEPbRZ0xOpichegNSdjpOeg8RnyNh5zjtG0R8xgttx0taUL0JbI6ntaB2GfQ5AgC5xxPFhAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj6pzRY56RolMDCCgYOSYIPQCzJY5pONYEV8GZstF/naY4JoEZp9ZXenoswXC7sztdDQ9CdFreYjLcdJ7iHhKeqfDtG8QcTcxdodLWhBxh7Jjdqe1IOJdc6c6AAB7sm1rhAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD97kBY56RolMDCAQMNExQegFmP3kTbNjRXwZmB26y9xxgmsSRI3AXkefLRC2xrPLjqYnIXoFnzg5TnoPEdf8tsVh2jeIeAnreodLWlC9DL/sT2tB7VrA4wgA74jXQIQAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj77Nkxz1jBKZGEDgQJRjgtALMDvpZ5pjRXwZmP3xFbvjBNckiJqE+Y4+WyBsEe1VjqYnIXrdPoo5TnoPET9xLsFh2jeIuJWSksMlLYi4u6Oo/WktqF0O5xwA95oNgoQAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj6Ka9Y56RolMDCBwYIVjgtALMHveh2WOFfFlYLbC4jrHCa5JEDUbnjr6bIGwb/U8djQ9CdFbtW+a46T3EPHyRUKO075BxDVsfjlc0oLqZfBwOK0FtavB2hEA7O+R1oQAAAA=" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj+X6Go56RolMDEBwPOy9Q4LQCzB7A+tmh4r4MjBbz+iowwTXJDCbIcHC0WcLhC28O9bR9CRE7+9Zex0mvYeIG7MlOkz7BhFf83Ct/SUtiHiDjrfdaS2IOINDswMA+kQH0oQAAAA=" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj8rMIkc9o0QmBiC4N1PeMUHoBZj9TlfcsSK+DMyOeb3XYYJrEpjN8CDW0WcLhH3zZIuj6UmI3n9Sjx0mvYeqaVBymPYNIv4jk93hkhZUHAhOa0HEGRyaHQDgU2TqhAAAAA==" />
    <add key="/amdcpu/0/load/9/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj0c6nI56RolMDECgMfOZQ4LQCzC7TXepQ0V8GZg97fcMhwmuSWD2BhdTR58tEHZH3W8H05MQvQembHeY9B4i7qjA5TDtG0R8l/xa+0taEPFNOqftTmtBxM/npzgAAPKQljGEAAAA" />
    <add key="/amdcpu/0/load/10/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjzmC4o56RolMDEDwwfS/Q4LQCzB7e+Muh4r4MjD70cn5DhNck8Bs7vdCjj5bIOwk90BH05MQvYV92x0mvYeIMzQoOUz7BhGfcbLc/pIWRPwFi5T9aS2I+MTHyg4A1Anuh4QAAAA=" />
    <add key="/amdcpu/0/load/11/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj7TWzQ56RolMDEDwWHS9Q4LQCzC7xcjGoSK+DMyeItPhMME1Ccx+9JXN0WcLhF1zRdjR9CRE76qMHodJ7yHiIY7H7ad9g4i3by+3v6QFEQeB01oQcQcORgcA5E3Tv4QAAAA=" />
    <add key="/amdcpu/0/load/12/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj2U8XQ56RolMDEDAnNbskCD0AsxetS7NoSK+DMwu6DZ0mOCaBGbz/Dvv4LMFwlYMv+NgehKiNz2w2GHSe4h4U9N9+2nfIOIK1u72l7Qg4n5vjtid1oKIa6k6OgAAxMe3YIQAAAA=" />
    <add key="/amdcpu/0/load/13/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj2ch6Q56RolMDEAQHabskCD0AswOPenmUBFfBmavmMrrMME1CczO+jXHwWcLhL36yw4H05MQvWbi9g6T3kPEl9/6ZT/tG0TcoeyY3SUtiDgDg4fdaS2oOAejAwDnqpFKhAAAAA==" />
    <add key="/amdcpu/0/load/14/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj0e+sQ56RolMDEDwU6DaIUHoBZgtlujvUBFfBmbv6dNwmOCaBGYb3dzg4LMFwg46uN3B9CREL0+DvcOk9xBxqxZlh2nfIOLqZRX2l7Qg4g063nantSDiO65JOQAA743kVIQAAAA=" />
    <add key="/amdcpu/0/load/15/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddDxePAAc9o0QmBiBoYDplnyD0Asz2+K/gUBFfBmYfOMrqMME1CcyOWzLNwWcLhP3XbpKD6UmIXnNxe4dJ7yHibYkz7Kd9g4jrbRS2v6QFEZ9QfM7utBZEXNrphT0AQglgooQAAAA=" />
    <add key="/amdcpu/0/load/16/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj6fJLQ56RolMDEBQy9PlkCD0AsyWcGR3qogvA7MNj79znOCaBGZHV3M6+myBsKOc7zmYnoToXac20WHSe4h4+pX19tO+QcT9atzsL2lBxBkYxOxPa0HEbxeGOwAAf9eSDYQAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddDwaHLCc9o0QmBhA4kOKUIPQCwnZIcKqIL4OwG6KdJrgmQdXEO/lsgbIZspxMT0L1NiQ7TXoPFV8Q5DTtG1T8gbPTJS2YuI3TaS2oeIK3EwAGJUVZhAAAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddDw+NAic9o0QmBiCImBrjlCD0Asw2col0qogvA7NXVQU5TXBNArNjDTOdfLZA2Ostsp1MT0L0es1zcZr0HiJe9E7Zado3iPjUbaJOl7Qg4pFbBZ1Oa0HET0kZOAEAfdXwd4QAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddD247FqfrxolMDEDg9/eSY6PACzA7d8EJx2yLMjD7zd69jnOiksBssWdfHB3mQ9jPHn13ND0J0atTPMtx0nuI+JkrKo5J3BD2tR03HdjEIOyfszc4nNaCqN8dFesIAENAa7CEAAAA" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj2ObZjvoGSUyMQBBO2eLQ4LQCzBb60ChQ0V8GZg9932EwwTXJDDb+ky7g88WCLuvtsvB9CRE7+GAYIdJ7yHix+25HKZ9g4hv/PTb/pIWRHzRpFv2p7Ug4rKTNBwAOSfHN4QAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj+ndC1z1jBKZGIBgTvYM1wShF2D2oqUTXCviy8Ds2YEzXSe4JoHZy053uPpsgbAXPpzganoSoncu+wzXSe8h4jPPz3Wd9g0ivki03/WSFkR8MXuf62ktqHrF6a4ARSbKJYQAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj+Mv5zjoGSUyMQCBLluLQ4LQCzB7/p9Eh4r4MjA75muUwwTXJDA7qq3bwWcLhG15qsnB9CREr1pEgMOk9xBxTwlmh2nfIOJmhx7aX9KCiLP8O2x/WgsiPtFW1QEANg3s1IQAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj+ndC1z1jBKZGIAAxE4QegFhv1/gWhFfBmZPa13oOsE1Ccye7T3L1WcLhL3w4QRX05MQvTPUF7hOeg8Rn3l+ruu0bxDxuT+nuV7SQoif1oKq153vCgAo9rmHhAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD/tDGg56RolMDEDgdv6TfYLQCzDbxu6gfUV8GZg9ofSY/QTXJDBbbp6Qg88WCHvWDmEH05MQvZqqM+0nvYeIz5T/YjftG0T89DYmu0taEPFd7x7ZntaCiC/962EPAKzvo12EAAAA" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjzmlM1z1jBKZGIBgeWGHa4LQCzB7EedE14r4MjB7mXSn6wTXJDB7geIkV58tEPaa5w2upieheu07XCe9h4hH19e4TvsGEY+aXed6SQshfloLIr7oaJ8rAIiDlgiEAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD57CdAc9o0QmBiBIljZwSBB6AWbr/pV0qIgvA7MXPOZ2mOCaBGY3P3Zy8NkCYct/9nIwPQnRq3OL3WHSe4i4gkuV/bRvEPE3Go72l7Qg4uEHOexPa0HEI8IO2gMAfxaJ74QAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjzmlM1z1jBKZGIBg9vOZrglCL8DshbITXSviyyDigTNdJ7gmgdnLGLtcfbZA2Z87XE1PQvTOaZ7pOuk9RHyFcpvrtG8Q8eWG7a6XtCDi0fU1rqe1IOKLjva5AgCpRmV+hAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjx+uzg56RolMDEDw5a6wQ4LQCzD747Vv9hXxZWC2wLZX9hNck8Dsl0YGDj5bIOwENm0H05MQvXoqh+wnvYeIP61UtZ/2DSKuw5Vvd0kLIr632tfutBZE/HZ/sz0Acph6R4QAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj4W1E1z1jBKZGIBg4cWJrglCL8DsZYKdrhXxZWD2qsXNrhNckyDijF2uPlsg7IWvJ7ianoTqnT/RddJ7iPgK5TbXad8g4lGz61wvaUHEo+trXE9rQcRXHG5zBQAVlcvfhAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj/9vmxz0jBKZGIBg0TN/h1zLF2D2SlYzh2yLMjA7x07TYYJrEph9JyrdwWcLhD0tOM3B9CRE7yp1VYdJ7yHi3UxH7ad9g4i/8Z5jf0kLIj5FtcX+tBZE/GXPP3sAVXyl+YQAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj+ndC1z1jBKZGIBg9vOZrrmWL8DsReoTXbMtyiDigTNdJ7gmgdkL7Ce5+myBsKcrLnQ1PQnRuzB5ouuk9xDxxex9rtO+QcQXifa7XtKCiK9QbnM9rQURnzF9nisAuqucwIQAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj3est+z1jBKZGIDgV8Ii+1zLF2D2lcMN9tkWZWD21o0T7Ce4JoHZL2ZdsPfZAmFHfrplb3oSotdpno/9pPcQ8Xtd2+ymfYOIv9i61vaSFkQ8KJzd9rQWRHyV5zc7AMWSaKeEAAAA" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddj0WsE1z1jBKZGIBg2cZO11zLFxC2c6drtkUZmL1qcbPrBNckiPjjTlefLRD20sxuV9OTEL1x58tdJ72HiK9QbnOd9g0ivsKw3fWSFkQ8ur7G9bQWRDx6f60rAIachgeEAAAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD+0Yfgc9o0QmBiAoW3rEPtfyBZjNdmm+fbZFGZjNen2Z/ZyoJDD729G/9g7zIWx+JQYH05MQvcmVZfaT3kPEXatP2E37BhFvd+ewu6QFEW8Oc7Q9rQURr+KRsQcA5cSG+4QAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjzmCM1z1jBKZGIBg2cZO11zLFxC2c6drtkUZmL1qcbPrnKgkiPjNTleH+RD2mucNrqYnIXrjzpe7TnoPEV/M3uc67RtEfIVhu+slLYh4dH2N62ktqPjsNlcAMQG2h4QAAAA=" />
    <add key="/amdcpu/0/power/10/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjwyl2fZ6RolMDEAQvbvGPtfyBZidtNLePtuiDMyW/GllPycqCcxumjHL3mE+hH1DcZK96UmIXtunQvaT3kPElTsm2iVxQ9j+JYdt2cQgbIt7wbantSDqmx7ssQMAbK+7WIQAAAA=" />
    <add key="/amdcpu/0/clock/9/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD/+Wblc9o0QmBiCYVT7bNdfyBZgdl1/hmm1RBmZ/qpjhOicqCcyeHTjT1WE+hL30bper6UmI3o0+1a6T3kPE1wQ2uCZxQ9hRz2td2cQg7Nz/Ca6ntSDqF//tdQUAyipHOYQAAAA=" />
    <add key="/amdcpu/0/power/11/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddD52o1fZ6RolMDEAQsbrdPtfyBZjtu8rPPtuiDMxm3hJjPycqCczmY15u7zAfwjY5vdXe9CRE78SlyvaT3kPE97nPsEvihrDf97basolB2C75wbantSDqNzzfYwcAXRtdfoQAAAA=" />
    <add key="/amdcpu/0/clock/10/values" value="H4sIAAAAAAAEAFM8w3lhZ8ddjznPZ7rqGSUyMQDBkqXdrrmWL8DsuPwK12yLMjD795ku1zlRSWD2nLczXB3mQ9hL73a5mp5E6J30HiK+JrDBNYkbwl7C3OvKJgZh5/5PcD2tBVG/+G+vKwDR8JkWhAAAAA==" />
    <add key="/amdcpu/0/power/12/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7JTsfavuRKZGIDgzWxL+1zLF2C29VUe+2yLMjB7Lj+v/ZyoJDC750OOvcN8CPudVJm96UmI3nfqH+wmvYeIvxBKtEvihrAND7TZsolB2I82s9ie1oKo/8011Q4AYZJX+oQAAAA=" />
    <add key="/amdcpu/0/clock/11/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj40bql1fcyUyMQBBjHa1a67lCzA7Lr/CNduiDMxeLdzkOicqCcye83aGq8N8CJv9XqWr6UmI3o0+1a6T3kPE1wQ2uCZxQ9hLmHtd2cQg7Nz/Ca6ntSDqmfgbXAE/rOf9hAAAAA==" />
    <add key="/amdcpu/0/power/13/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddD1Z1HfvrxolMDECwW17UvlHgBZh9ZOFTu2yLMjB7ws6rdnOiksBshQXO9g7zIWyvSeH2pichelONL9tNeg8RTyuNsEvihrCPmTXbsolB2CU7zGxPa0HUN2pOswMArjx4GIQAAAA=" />
    <add key="/amdcpu/0/clock/12/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj8Nf4l2vGycyMQBBjHa1a6PACzA7Lr/CNduiDMxeWtztOicqCcz+ZdDt6jAfwma/V+lqehKid6NPteuk9xDxqT+iXJO4IewlzL2ubGIQ9prABtfTWhD1DsVRrgBORqVIhAAAAA==" />
    <add key="/amdcpu/0/power/14/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddDx7+N3bXjROZGIDgxNszdo0CL8Bsf6HtdtkWZWD2jdB+uzlRSWC2gYKIvcN8CNv9uqa96UmIXv6Xx+0mvYeIl5dp2yVxQ9h3+NVs2cQgbMdXZ2xOa0HUX6z0sAMAtOGkSYQAAAA=" />
    <add key="/amdcpu/0/clock/13/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7z8eNfrxolMDEAQo13t2ijwAsyOy69wzbYoA7OTJhe5zolKArM3tlS5OsyHsNnvVbqanoTo3ehT7TrpPUR86o8o1yRuCDvqea0rmxiE3eRS4XpaC6LeoTjKFQAZm8MBhAAAAA==" />
    <add key="/amdcpu/0/power/15/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddDx6n73bXjROZGIBAYsE3u0aBF2D2qmsn7LItysDslIr1dnOiksDsHZdV7B3mQ9gecQ72picheqOurLGb9B4ifuWAr10SN5StWmLLJgZhz8o7bXNaC6L+Y3qsHQBnLPWwhAAAAA==" />
    <add key="/amdcpu/0/clock/14/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7z8eNfrxolMDEAQo13t2ijwAsyOy69wzbYoA7OTJhe5zolKArM3tlS5OsyHsNnvVbqanoTo3ehT7TrpPUR86o8o1yRuCLvpQbkrmxiU7VLheloLot6hOMoVALRLBDKEAAAA" />
    <add key="/amdcpu/0/power/16/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7nrzthdN05kYgCCLW5H7RoFXoDZ2v977bItysBsdr0OuzlRSWD2efuvdg7zIWyTR2L2pichehfumm436T1EfKEaj10SN4Q97b+KLZsYhK2/3cD2tBZE/ZrbEXYAxy36k4QAAAA=" />
    <add key="/amdcpu/0/clock/15/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7z8eNfrxolMDEAQo13t2ijwAsyOy69wzbYoA7OTJhe5zolKArPzl8e5OsyHsNnvVbqanoTo3ehT7TrpPUR86o8o1yRuCHt/YrArmxiEvdq2yPW0FkS9Q3GUKwD13BJhhAAAAA==" />
    <add key="/amdcpu/0/power/17/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddj7xHLPbXjROZGIDg88Sfdo0CL8DsE5v8HbItysBs9xPGDnOiksBsvcue9g7zIezFv23sTU9C9NabP7eb9B4irnbF3i6JG8LObNtgyyYGYXNzuNue1oKojwnpsgMAHUPkSoQAAAA=" />
    <add key="/amdcpu/0/clock/16/values" value="H4sIAAAAAAAEAEv5zHlhZ8ddjxjtatfrxolMDECw9G6Xa6PACzB77sHprtkWZWD2iq9trnOiksDsTQpVrg7zIWz2e5WupicheiU3xbtOeg8Rn/ojyjWJG8LenxjsyiYGYa+2LXI9rQVR71Ac5QoAjtpD44QAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>